* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}

body {
  h1 {
    font-family: "Roboto", sans-serif;
  }

  header {
    max-height: 60px;
    height: 100%;
  }

  header,
  main,
  footer {
    display: flex;
    justify-content: center;
  }

  .logo {
    max-width: 280px;
    width: 100%;
    min-width: 50px;
  }

  .wrapper {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .container {
    max-width: 900px;
    width: 100%;
  }

  aside {
    flex-grow: 1;
  }

  .mt10 {
    margin-top: 10px;
  }

  .mt20 {
    margin-top: 20px;
  }

  .mt30 {
    margin-top: 30px;
  }

  .mt40 {
    margin-top: 40px;
  }

  .mt50 {
    margin-top: 50px;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  ul {
    list-style-type: none;
  }

  nav {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      gap: 20px;
    }
  }

  form {
    display: flex;
    gap: 20px;
  }

  .result {
    display: flex;
  }

  #map {
    max-width: 600px;
    height: 400px;
    width: 100%;
  }
}
